* {
    padding: 0; /* Usunięcie domyślnych paddingów */
    margin: 0; /* Usunięcie domyślnych marginesów */
    box-sizing: border-box; /* Umożliwia lepsze zarządzanie szerokością i wysokością elementów */
  }